<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome to my blog</p>
    <a href="/event">
      <button>See my blogs</button>
    </a>
    <a href="/event/new">
      <button>Add new article</button>
    </a>
  </body>
</html>
